<div class="violationModal p-6">
  <div class="video_wrapper rounded-lg shadow-lg overflow-hidden">
    <iframe src={{this.violationResponseData.video_url}} frameborder="0" class="video_iframe"></iframe>
  </div>

  <p class="flex mt-6 items-center">
    <img
      src={{this.violationModal.violationData.person.avatar_url}}
      alt={{this.violationModal.violationData.person.first_name}}
      height="32"
      width="32"
      class="mr-2 rounded-full"
    />

    <span class="font-bold">
      {{this.violationModal.violationData.person.first_name}} - {{this.violationModal.violationData.person.last_name}}
    </span>
  </p>

  <p class="mt-6 text-gray-700 flex items-center">
    <span>Naruszone zasady BHP:</span>

    {{#each this.violationResponseData.type as |value|}}
      <div class="py-2 px-4 bg-yellow-500 ml-2 text-sm rounded-full shadow-lg">
        <span class="font-bold text-gray-900">{{violation-for-rule value}}</span>
      </div>
    {{/each}}
  </p>
</div>
